.root {
    -fx-background-color: lightgray;
}

#stackPane {
    -fx-background-color: rgb(50, 50, 50);
}

#simulationSpeedSliderLabel {
    -fx-text-fill: white;
}

#simulationSpeedWarning {
    -fx-text-fill: white;
}
