.root {
    -fx-background-color: lightgray;
}

#stackPane {
    -fx-background-color: rgb(50, 50, 50);
}

#simulationSpeedSliderLabel {
    -fx-text-fill: white;
}

#simulationSpeedWarning, #simulationSpeedWarning * {
    -fx-text-fill: white;
}

.entityViewProperty {
}

.entityViewLabel {
}

#header {
    -fx-font-size: 20px;
}

#mainContainer {
    -fx-padding: 10px;
}